#top_profile_menu,
.BaseModal__content,
.ChatSettings,
.box_no_title.box_no_buttons,
.eltt,
.flat_button:not(#ui_trends_load_more),
.left_count_wrap,
.ms_items_more,
.page_actions_wrap,
.page_block:not(._im_page_history, .im-page--dialogs, .audio_page_player_wrap, .search_filters_minimized, .ui_filters_block),
.submit_post_field,
.token,
.ts_cont_wrap,
.ui_actions_menu,
.Button--size-m:not(.Button--link),
.Button--secondary,
.landings-expired-messages__more,
#wk_box,
#wk_content,
#wall_tabs,
.im-page--dialogs,
.im-page--history,
.tt_w,
.page_post_thumb_wrap:not(.page_post_thumb_short_video),
.page_post_thumb_unsized,
.page_square_photo,
.ui_scroll_content,
.post_from_tt_row,
.media_link,
.thumbed_link--market,
.page_media_place_img_wrap,
.PageBlock,
.MarketCatalogTabs,
.MarketCatalogCategoryMenu__list,
.photos_album_thumb,
.photos_row,
.pv_box,
.CatalogSection,
.audio_promo__items,
.audio_promo,
.emoji_tt_wrap,
.MessageKeyboard__button,
.top_notify_wrap,
.page_avatar,
.ShortVideoPost,
.ui_search_sugg_list {
	border-radius: 10px!important;
}

.ui_search_input_block:not(#friends_search_input_wrap > .ui_search > .ui_search_input_block, .docs_search_wrap > .ui_search > .ui_search_input_block) {
	border-radius: 8px!important;
}

.PopupHeader,
.box_no_title,
.box_title_wrap,
.page_block_h2,
.page_block_header,
.page_cover,
.ui_tabs,
.ui_tabs_box,
.ui_tabs_header,
.im-page--header,
.im-page--dialogs-search,
.im-page--chat-header,
.im-page--toolsw,
.ModalHeader,
.audio_page_player_wrap,
.search_filters_minimized  {
	border-radius: 10px 10px 0 0!important;
}

.ChatSettings__content,
.box_controls,
.box_no_buttons,
.im-page--dialogs-footer,
.im-chat-input,
.photos_album_title_wrap,
.AudioPlaylistSnippet,
.emoji_tabs,
.StickerPackSettings__footer,
.top_notify_show_all,
.settings_block_footer,
.tickets_thank_you_form,
.owner_photo_bubble_wrap,
.group_page_block_footer,
.flat_button,
.ui_filters_block {
	border-radius: 0 0 10px 10px!important;
}

.profile_msg_split .profile_btn_cut_right,
.ui_search_button_search,
.pv_narrow_column_wrap,
.ui_scroll_overflow,
.thumbed_link__label  {
	border-radius: 0 10px 10px 0!important;
}

.ui_search_input_inner,
.flat_button.profile_btn_cut_left,
.thumbed_link__thumb  {
 	border-radius: 10px 0 0 10px!important
}
