body[scheme=vkcom_VKNdark] {
	--gray1: #111;
	--gray2: #222;
	--gray3: #333;
	--gray4: #444;
	--gray5: #666;
	--gray6: #777;
	--gray7: #888;
	--gray8: #999;
	--gray9: #ccc;
	--gray10: #404046;
	--dark1: #181818;
	--dark2: #222226;
	--dark3: #333336;
	--dark4: #444446;
	--dark5: #555556;
	--dark6: #556754;
	--dark7: #606060;
	--dark8: #3a3a3c;
	--dark9: #36363a;
	--dark10: #3d3d3f;
	--other1: rgba(68, 68, 70, 0);
	--other2: rgba(51, 51, 54, 0.8);
	--other3: rgba(59, 59, 59, 0.8);
	--other4: rgba(85, 85, 86, 0.9);
	--other5: rgba(102, 102, 102, 0.9);
	--other6: rgba(0, 0, 0, 0.4);
	--other6: rgba(0, 0, 0, 0.5);
	--other7: rgba(34, 34, 38, 0.8);
	--other8: rgba(85, 85, 86, 0);
	--background: #0a0a0a;
	--backgroundIm: #19191A;
	--block: #19191A;
	--select: #2D2D2D;
	--background_select: #1F1F1F;
	--white1: #aaa;
	--white2: #fff;
	--black1: #3a3a3a;
	--black2: #6d6d6d;
	--black3: #5181b8;
	--black4: #39393c;
	--black5: #2f527b;
	--black6: #516a88;
	--black7: #536f90;
	--black8: #39393b;
	--black9: #3a3a3d;
	--black10: #3f3f3f;
	--black11: #2b2b2b;
	--black12: #a3a3a3;
	--black13: #545454;
	--hidden: #999999;
	--separator: #444;
	--vklCustomAccent: var(--black3);
	--vklCustomAccentWhite: var(--white2);
	--vklCustomAccentBlue: #2787f5;
	--vklCustomAccentBbb: #bbb;
	--vklCustomAccentGray8: var(--gray8);
	--vklCustomAccentGray: #5f5f5f;
	--vklScroll: var(--block);
	--vklScrollThumb: var(--select);
}

body[scheme=vkcom_VKNamoled] {
	--gray1: #111;
	--gray2: #222;
	--gray3: #333;
	--gray4: #444;
	--gray5: #666;
	--gray6: #777;
	--gray7: #888;
	--gray8: #999;
	--gray9: #ccc;
	--gray10: #404046;
	--dark1: #181818;
	--dark2: #222226;
	--dark3: #333336;
	--dark4: #444446;
	--dark5: #555556;
	--dark6: #556754;
	--dark7: #606060;
	--dark8: #3a3a3c;
	--dark9: #36363a;
	--dark10: #3d3d3f;
	--other1: rgba(68, 68, 70, 0);
	--other2: rgba(51, 51, 54, 0.8);
	--other3: rgba(59, 59, 59, 0.8);
	--other4: rgba(85, 85, 86, 0.9);
	--other5: rgba(102, 102, 102, 0.9);
	--other6: rgba(0, 0, 0, 0.4);
	--other6: rgba(0, 0, 0, 0.5);
	--other7: rgba(34, 34, 38, 0.8);
	--other8: rgba(85, 85, 86, 0);
	--background: #000;
	--backgroundIm: #000;
	--block: #000;
	--select: #141414;
	--background_select: #0a0a0a;
	--white1: #aaa;
	--white2: #fff;
	--black1: #0a0a0a;
	--black2: #6d6d6d;
	--black3: #5181b8;
	--black4: #39393c;
	--black5: #2f527b;
	--black6: #516a88;
	--black7: #536f90;
	--black8: #39393b;
	--black9: #3a3a3d;
	--black10: #3f3f3f;
	--black11: #2b2b2b;
	--black12: #a3a3a3;
	--black13: #545454;
	--hidden: #999999;
	--separator: #333;
	--vklCustomAccent: var(--black3);
	--vklCustomAccentWhite: var(--white2);
	--vklCustomAccentBlue: #2787f5;
	--vklCustomAccentBbb: #bbb;
	--vklCustomAccentGray8: var(--gray8);
	--vklCustomAccentGray: #1f1f1f;
	--vklScroll: var(--block);
	--vklScrollThumb: var(--select);
}