body {
	--accent: var(--sky_300) !important;
	--action_sheet_action_foreground: var(--white) !important;
	--action_sheet_separator: var(--white_alpha16) !important;
	--activity_indicator_tint: var(--gray_600) !important;
	--attach_picker_tab_active_background: var(--gray_100) !important;
	--attach_picker_tab_active_icon: var(--gray_900) !important;
	--attach_picker_tab_active_text: var(--gray_100) !important;
	--attach_picker_tab_inactive_background: var(--gray_800) !important;
	--attach_picker_tab_inactive_icon: var(--gray_100) !important;
	--attach_picker_tab_inactive_text: var(--gray_500) !important;
	--background_content: var(--gray_900) !important;
	--background_hover: var(--white_alpha8) !important;
	--background_highlighted: var(--white_alpha12) !important;
	--background_keyboard: var(--gray_800) !important;
	--background_light: var(--gray_850) !important;
	--background_page: var(--gray_960) !important;
	--background_suggestions: var(--gray_800) !important;
	--button_bot_shadow: var(--gray_900) !important;
	--button_commerce_background: var(--green_350) !important;
	--button_commerce_foreground: var(--white) !important;
	--button_muted_background: var(--gray_800) !important;
	--button_muted_foreground: var(--gray_100) !important;
	--button_outline_border: var(--gray_100) !important;
	--button_outline_foreground: var(--gray_100) !important;
	--button_primary_background: var(--gray_100) !important;
	--button_primary_foreground: var(--gray_900) !important;
	--button_secondary_background: var(--gray_700) !important;
	--button_secondary_background_highlighted: var(--gray_700_alpha60) !important;
	--button_secondary_foreground: var(--gray_100) !important;
	--button_secondary_foreground_highlighted: var(--gray_100) !important;
	--button_secondary_destructive_background: var(--gray_700) !important;
	--button_secondary_destructive_background_highlighted: var(--gray_700_alpha60) !important;
	--button_secondary_destructive_foreground: var(--red_light) !important;
	--button_secondary_destructive_foreground_highlighted: var(--red_alpha16) !important;
	--button_tertiary_background: var(--transparent_black) !important;
	--button_tertiary_foreground: var(--gray_100) !important;
	--cell_button_foreground: var(--gray_100) !important;
	--content_placeholder_icon: var(--gray_300) !important;
	--content_placeholder_text: var(--gray_300) !important;
	--content_tint_background: var(--gray_850) !important;
	--content_tint_foreground: var(--gray_400) !important;
	--control_background: var(--gray_700) !important;
	--control_foreground: var(--gray_100) !important;
	--control_tint: var(--gray_900) !important;
	--control_tint_muted: var(--gray_400) !important;
	--counter_primary_background: var(--white) !important;
	--counter_primary_text: var(--gray_900) !important;
	--counter_prominent_background: var(--red_nice) !important;
	--counter_prominent_text: var(--white) !important;
	--counter_secondary_background: var(--gray_500) !important;
	--counter_secondary_text: var(--gray_900) !important;
	--content_warning_background: var(--gold_500) !important;
	--destructive: var(--red_light) !important;
	--field_background: var(--gray_850) !important;
	--field_border: var(--white_alpha16) !important;
	--field_error_background: var(--red_dark) !important;
	--field_error_border: var(--red) !important;
	--field_valid_border: var(--green_350) !important;
	--field_text_placeholder: var(--gray_500) !important;
	--float_button_background: var(--gray_700) !important;
	--float_button_background_highlighted: var(--gray_600) !important;
	--float_button_foreground: var(--gray_300) !important;
	--float_button_border: var(--black_alpha12) !important;
	--header_alternate_background: var(--gray_800) !important;
	--header_alternate_tab_active_indicator: var(--gray_100) !important;
	--header_alternate_tab_active_text: var(--gray_100) !important;
	--header_alternate_tab_inactive_text: var(--gray_500) !important;
	--header_background: var(--gray_900) !important;
	--header_background_before_blur: var(--gray_960) !important;
	--header_background_before_blur_alternate: var(--gray_960) !important;
	--header_search_field_background: var(--gray_750) !important;
	--header_search_field_tint: var(--gray_300) !important;
	--header_tab_active_background: var(--gray_600) !important;
	--header_tab_active_text: var(--gray_100) !important;
	--header_tab_active_indicator: var(--blue_400) !important;
	--header_tab_inactive_text: var(--gray_500) !important;
	--header_text: var(--gray_100) !important;
	--header_text_alternate: var(--gray_100) !important;
	--header_text_secondary: var(--white_alpha64) !important;
	--header_tint: var(--gray_100) !important;
	--header_tint_alternate: var(--gray_100) !important;
	--icon_alpha_placeholder: var(--gray_100) !important;
	--icon_medium: var(--gray_400) !important;
	--icon_medium_alpha: var(--white_alpha48) !important;
	--icon_outline_medium: var(--gray_300) !important;
	--icon_outline_secondary: var(--gray_400) !important;
	--icon_secondary: var(--gray_500) !important;
	--icon_secondary_alpha: var(--white_alpha40) !important;
	--icon_tertiary: var(--gray_600) !important;
	--icon_tertiary_alpha: var(--white_alpha24) !important;
	--im_attach_tint: var(--white) !important;
	--im_bubble_border_alternate: var(--transparent_black) !important;
	--im_bubble_border_alternate_highlighted: var(--transparent_black) !important;
	--im_bubble_button_background: var(--white_alpha16) !important;
	--im_bubble_button_outgoing_background: var(--white_alpha24) !important;
	--im_bubble_button_background_highlighted: var(--white_alpha24) !important;
	--im_bubble_button_foreground: var(--gray_100) !important;
	--im_bubble_incoming_expiring: var(--lavender_900) !important;
	--im_bubble_incoming_expiring_highlighted: var(--lavender_800) !important;
	--im_bubble_outgoing_expiring: var(--lavender_800) !important;
	--im_bubble_outgoing_expiring_highlighted: var(--lavender_700) !important;
	--im_bubble_incoming: var(--gray_800) !important;
	--im_bubble_incoming_alternate: var(--gray_800) !important;
	--im_bubble_incoming_alternate_highlighted: var(--gray_600) !important;
	--im_bubble_incoming_highlighted: var(--gray_600) !important;
	--im_bubble_gift_background: var(--gold_500) !important;
	--im_bubble_gift_background_highlighted: var(--gold_400) !important;
	--im_bubble_gift_text: var(--white) !important;
	--im_bubble_gift_text_secondary: var(--gold_250) !important;
	--im_bubble_outgoing: var(--gray_700) !important;
	--im_bubble_outgoing_alternate: var(--gray_700) !important;
	--im_bubble_outgoing_highlighted: var(--gray_600) !important;
	--im_bubble_outgoing_alternate_highlighted: var(--gray_500) !important;
	--im_bubble_wallpaper_button_background: var(--gray_700) !important;
	--im_bubble_wallpaper_button_background_highlighted: var(--gray_500) !important;
	--im_bubble_wallpaper_button_foreground: var(--gray_100) !important;
	--im_bubble_wallpaper_incoming: var(--gray_800) !important;
	--im_bubble_wallpaper_incoming_highlighted: var(--gray_600) !important;
	--im_bubble_wallpaper_outgoing: var(--gray_700) !important;
	--im_bubble_wallpaper_outgoing_highlighted: var(--gray_600) !important;
	--im_forward_line_tint: var(--white_alpha24) !important;
	--im_reply_separator: var(--white) !important;
	--im_text_name: var(--blue_400) !important;
	--im_toolbar_voice_msg_background: var(--gray_700) !important;
	--im_toolbar_separator: var(--gray_300) !important;
	--image_border: var(--white_alpha8) !important;
	--input_background: var(--gray_800) !important;
	--input_border: var(--gray_800) !important;
	--landing_background: var(--gray_900) !important;
	--landing_field_background: var(--gray_850) !important;
	--landing_field_border: var(--transparent_black) !important;
	--landing_field_placeholder: var(--gray_300) !important;
	--landing_login_button_background: var(--gray_100) !important;
	--landing_login_button_foreground: var(--gray_900) !important;
	--landing_primary_button_background: var(--gray_100) !important;
	--landing_primary_button_foreground: var(--gray_900) !important;
	--landing_tertiary_button_background: var(--transparent_black) !important;
	--landing_tertiary_button_foreground: var(--white) !important;
	--landing_text_primary: var(--gray_100) !important;
	--landing_text_title: var(--white) !important;
	--landing_text_secondary: var(--gray_500) !important;
	--landing_secondary_button_background: var(--white_alpha16) !important;
	--landing_secondary_button_foreground: var(--white) !important;
	--landing_snippet_border: var(--white_alpha16) !important;
	--like_text_tint: var(--red_light) !important;
	--link_alternate: var(--gray_400) !important;
	--loader_background: var(--gray_900) !important;
	--loader_tint: var(--gray_500) !important;
	--loader_track_fill: var(--gray_700) !important;
	--loader_track_value_fill: var(--white) !important;
	--media_overlay_button_background: var(--white) !important;
	--media_overlay_button_foreground: var(--gray_800) !important;
	--modal_card_background: var(--gray_800) !important;
	--modal_card_border: var(--white_alpha12) !important;
	--modal_card_header_close: var(--white) !important;
	--music_playback_icon: var(--white) !important;
	--feed_recommended_friend_promo_background: var(--steel_gray_500) !important;
	--overlay_status_background: var(--gray_900) !important;
	--overlay_status_foreground: var(--gray_100) !important;
	--overlay_status_icon: var(--steel_gray_60) !important;
	--placeholder_icon_background: var(--white_alpha8) !important;
	--placeholder_icon_background_opaque: var(--gray_850) !important;
	--placeholder_icon_foreground_primary: var(--gray_400) !important;
	--placeholder_icon_foreground_secondary: var(--gray_600) !important;
	--placeholder_icon_tint: var(--white) !important;
	--poll_option_background: var(--white) !important;
	--search_bar_background: var(--gray_900) !important;
	--search_bar_field_background: var(--gray_750) !important;
	--search_bar_field_tint: var(--gray_300) !important;
	--search_bar_segmented_control_tint: var(--gray_400) !important;
	--segmented_control_bar_background: var(--gray_900) !important;
	--segmented_control_tint: var(--gray_500) !important;
	--selection_off_icon: var(--gray_600) !important;
	--separator_alpha: var(--white_alpha16) !important;
	--separator_alternate: var(--gray_850) !important;
	--separator_common: var(--gray_750) !important;
	--snippet_background: var(--gray_850) !important;
	--snippet_border: var(--white_alpha16) !important;
	--snippet_icon_tertiary: var(--gray_600) !important;
	--splashscreen_icon: var(--gray_800) !important;
	--statusbar_alternate_legacy_background: var(--transparent_black) !important;
	--stories_create_button_background_from: var(--gray_750) !important;
	--stories_create_button_background_to: var(--gray_750) !important;
	--stories_create_button_foreground: var(--gray_200) !important;
	--stories_skeleton_loader_background: var(--gray_700) !important;
	--stories_create_button_icon_background: var(--gray_700) !important;
	--switch_ios_off_border: var(--gray_800) !important;
	--tabbar_active_icon: var(--white) !important;
	--tabbar_background: var(--gray_800) !important;
	--tabbar_inactive_icon: var(--gray_500) !important;
	--tabbar_tablet_active_icon: var(--blue_400) !important;
	--tabbar_tablet_background: var(--gray_850) !important;
	--tabbar_tablet_inactive_icon: var(--gray_500) !important;
	--tabbar_tablet_text_primary: var(--gray_100) !important;
	--tabbar_tablet_text_secondary: var(--gray_500) !important;
	--toolbar_attach_background_from: var(--gray_500) !important;
	--toolbar_attach_background_to: var(--gray_600) !important;
	--text_action_counter: var(--gray_300) !important;
	--text_link: var(--sky_300) !important;
	--text_link_highlighted_background: var(--blue_400) !important;
	--text_muted: var(--gray_200) !important;
	--text_name: var(--gray_100) !important;
	--text_placeholder: var(--gray_300) !important;
	--text_primary: var(--gray_100) !important;
	--text_secondary: var(--gray_500) !important;
	--text_subhead: var(--gray_400) !important;
	--text_tertiary: var(--gray_600) !important;
	--icon_name: var(--gray_300) !important;
	--panel_tab_active_background: var(--gray_700) !important;
	--panel_tab_active_text: var(--gray_100) !important;
	--panel_tab_inactive_text: var(--gray_500) !important;
	--im_service_message_text: var(--gray_500) !important;
	--writebar_icon: var(--gray_100) !important;
	--dynamic_blue: var(--blue_400) !important;
	--dynamic_gray: var(--steel_gray_200) !important;
	--dynamic_red: var(--red_nice) !important;
	--dynamic_green: var(--green_350) !important;
	--dynamic_orange: var(--orange) !important;
	--dynamic_purple: var(--purple_light) !important;
	--dynamic_violet: var(--violet_light) !important;
	--vk_connect_button_primary_background: var(--gray_100) !important;
	--vk_connect_button_primary_foreground: var(--gray_900) !important;
	--vk_connect_button_secondary_background: var(--gray_700) !important;
	--vk_connect_button_secondary_foreground: var(--gray_100) !important;
	--background_text_highlighted: var(--blue_400_alpha20) !important;
	--skeleton_shimmer_from: var(--gray_900) !important;
	--skeleton_shimmer_to: var(--transparent_black) !important;
	--skeleton_foreground_from: var(--gray_850) !important;
	--skeleton_foreground_to: var(--gray_800) !important;
	--primary_overlay_badge: var(--white_alpha40) !important;
	--secondary_overlay_badge: var(--white_alpha16) !important;
};